@tailwind base;
@tailwind components;
@tailwind utilities;


    @layer base {
      html, body {
        margin: 0;
        padding: 0;
        background-color: #FAFAF7;
        color: #050505;
        font-family: 'Inter', sans-serif;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
      }
    }
    ::-webkit-scrollbar { display: none; }
    .font-mono-code { font-family: 'JetBrains Mono', monospace; }
  
